.text-transition {
  position: relative;
}

.text-transition-offScreenText {
  display: block;
  position: absolute;
  top: -9999px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.text-transition-onScreenText {
  position: absolute;
  display: block;
  margin: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}

.text-transition-letter-wrapper {
  position: absolute;  
}

.text-transition-letter {
  display: inline-block;
  opacity: 0;
}

.text-transition-deco {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1em;
  height: 1em;
  overflow: initial;
}
