.text-transition {
  position: relative;
}

.text-transition-offScreenText {
  display: block;
  position: absolute;
  top: -9999px;
  margin: 0;
  width: 100%;
  text-align: center;
}

.text-transition-onScreenText {
  position: absolute;
  display: block;
  margin: 0;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
}


.text-transition-letter {
  position: absolute;
  opacity: 0;
}